{
  "openapi": "3.0.2",
  "servers": [
    {
      "url": "https://api.mythx.io/v1"
    }
  ],
  "info": {
    "version": "v1.4",
    "title": "MythX API",
    "x-logo": {
      "url": "https://mythx.io/static/img/mythxlogo.svg"
    },
    "description": "[MythX](https://mythx.io) is a security analysis API for Ethereum\nsmart contracts. It powers tools that bring security into the\nsmart contract SDLC.\n\nJoin the MythX community at [MythX\nDiscord](https://discord.gg/kktn8Wt) for more information.\n\nThis document describes the API interface to MythX. It is entended\nfor Dapp developers who wish to bring the power MythX to their\nDapps.\n\n# API Authentication Methods\n\nMythX API implements [JWT](#section/API-Authentication-Methods/JWT) and\n[MetaMask](#section/API-Authentication-Methods/MetaMask) authentication schemes.\nFor better security user credentials (User ID / Ethereum address / email +\npassword) are only used to start JWT sessions\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n# User Roles and Permissions\n\n## Overview\n\nMythX user roles and permissions are string tokens recognized by API server,\nand utilized to control user access to different API functionalities, as well\nas to alter API behavior for user with different rights.\n\nUser roles assigned to each user can be found inside the `roles` array of user\nobject (see [GET /users/{id}](#operation/getUserById)). Each role represents a\nset of user permissions. The exact mapping between roles and permissions is\nstored server-side and may be changed as needed, thus allowing to tune API\nbehavior for users with certain roles without chaning user roles.\n\nWhen a user hits API, his roles are mapped into sets of permissions that\ncorrespond to these roles currently, and all these permissions are merged\ninto a single permissions set. Endpoint controllers then check as necessary\nfor the presence of required permissions in that set, to decide how different\nfeatures should work for the user, or whether corresponding functionality\nshould work for the user at all. To check permissions currently granted to\nthe user by his roles use\n[GET /users/{id}/permissions](#operation/getUserPermissions).\n\nWhen a new [JWT session](#section/API-Authentication-Methods/JWT) is opened\nby [POST /auth/login](#operation/login), it is possible to narrow down user\npermissions allowed for that session. For example, it allows to use JWT tokens\nas API keys for tools, that only allow to run analyses, and retrieve their\nresults, but do not allow to modify user details, etc. To check user\npermissions requested, and granted in the current JWT session see\n[GET /auth/session/permissions](#operation/getSessionPermissions).\n\nFor convenience, [GET /auth/login](#operation/login) and\n[GET /auth/refresh](#operation/loginRefresh) endpoints also return\ninformation on the permissions.\n\n## Valid User Permissions\n\n**MythX Usage Allowances**\n- `ALL_SWC_LOOKUP` - Allows to see issues with all SWCs. Without this\n  permission only issues from a limited subset of SWC will be returned\n  to the user, along with a warning issue.\n- `ANALYSIS_ALLOWANCE_MINIMAL` - Up to 1k analyses any 24h period.\n- `ANALYSIS_ALLOWANCE_PREMIUM` - Up to 10k analyses any 24 period.\n- `FULL_ANALYSIS` - Allows to run analyses in the `full` mode.\n- `NO_CACHE_LOOKUP` - Allows to use `noCacheLookup` option in analysis\n  requests.\n- `PARALLEL_ANALYSIS_REQUESTS_UNLIMITED` - Allows to queue unlimited number\n  of unfinished analyses.\n- `ANALYSES_LOOKUP_OWN` - Permits to look up your own past analyses, using\n  [GET /v1/analyses](#operation/listAnalyses).\n- `REQUEST_RATE_PER_IP` - Allows multiple users relying on the same MythX\n  account to have their usage limits to be applied on per-IP basis.\n- ~`ANALYSIS_ALLOWANCE_UNLIMITED`~ - Has no effect currently, and falls back\n  to up to 1k analyses any 24h period.\n- ~`SHARED_USER_REQUEST_RATE`~ - Replaced by `ANALYSIS_ALLOWANCE_*`\n  permissions.\n- ~`UNLIMITED_REQUEST_RATE`~ - Replaced by `ANALYSIS_ALLOWANCE_*`\n  permissions.\n\n**Account Management Permissions**\n- `CREATE_USERS_ADMIN` - Allows to create new users with `admin` role,\n  as well as grant / take this role for created accounts.\n- `CREATE_USERS_FREE` - Allows to create new users with the `Free` role,\n  as well as grant / take this role for created accounts.\n- `CREATE_USERS_PARTNER` - Allows to create new users with `parnter` role,\n  as well as grant / take this role for created accounts.\n- `CREATE_USERS_PREMIUM` - Allows to create new users with\n  the `Premium` role, as well as grant / take this role for created\n  accounts.\n- `CREATE_USERS_PROFESSIONAL` - Allows to create new users with\n  the `Professional` role, as well as grant / take this role for created\n  accounts.\n- `CREATE_USERS_TRUSTED` - Allows to create new users with\n  the `trusted_user` role, as well as grant / take this role for created\n  accounts.\n- `CREATE_USERS_WITHOUT_ROLES` - Allows to create new user accounts.\n- `CHANGE_PASSWORD_OWN` - Permits to change your own user password.\n- `USER_LOOKUP` - Allows to lookup accounts of other users.\n\n**Misc Permissions**\n- `USERS_ANALYSES_STATS_LOOKUP` - Allows to fetch internal stats on MythX\n  usage and performance.\n"
  },
  "paths": {
    "/auth/challenge": {
      "get": {
        "operationId": "getAuthChallenge",
        "summary": "Auth challenge",
        "tags": [
          "Authentication Calls"
        ],
        "description": "Generates authentication challenge.\n\nAt least one of query parameters must be provided, and it will determine\nthe type of challenge to generate. Currently, only challenges based on\nEthereum address of the user are supported, for\n[MetaMask](#section/API-Authentication-Methods/MetaMask) authentication scheme.\nAdditional challenge types might be added in future.\n\n**Challenge Types**\n\n- Challenge based on Ethereum address. Generated when **ethAddress**\n  query parameter is provided.\n",
        "parameters": [
          {
            "name": "ethAddress",
            "in": "query",
            "description": "A valid Ethereum address.",
            "schema": {
              "type": "string",
              "format": "Ethereum address"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of the challenge to generate.\n\n- **one_time** allows just a single use of challenge response for\n  authentication of a subsequent API call, within 10 minutes after\n  generation of the challenge. After the first use the challenge is\n  revoked. It is also revoked if not used within 10 minutes.\n\n- **short_lived** allows to use the challenge response unlimited\n  number of times within 10 minutes after the challenge generation.\n",
            "schema": {
              "type": "string",
              "enum": [
                "one_time",
                "short_lived"
              ],
              "default": "one_time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns two objects describing the banner to be shown in the MetaMask\ndialog and the challenge hash.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 2,
                  "maxItems": 2,
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "data type of the element, string for both"
                      },
                      "name": {
                        "type": "string",
                        "description": "name of the element, one of banner or challenge"
                      },
                      "value": {
                        "type": "string",
                        "description": "value of the element, banner text or challenge hash"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "API login",
        "tags": [
          "Authentication Calls"
        ],
        "security": [
          {
            "none": []
          },
          {
            "MetaMask": []
          }
        ],
        "description": "Generates a pair of access and refresh JWT tokens for\n[JWT authentication scheme](#section/API-Authentication-Methods/JWT).\n\nSupports the following modes of operation:\n\n- **MetaMask login** -\n  use [MetaMask authentication](#section/API-Authentication-Methods/MetaMask) to\n  get JWT tokens. Does not require any body parameters.\n\n- **User credentials login** - Login by username and password, where\n  the username can be either of: Ethereum address, a verified email\n  address, or user ID.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Login with User Credentials",
                    "required": [
                      "password"
                    ],
                    "properties": {
                      "password": {
                        "type": "string",
                        "format": "password",
                        "description": "User password.\n\nA valid password is:\n- Between 8 and 64 symbols long (both inclusive);\n- Contains at least one lowercase (a-z) and uppercase (A-Z) letter;\n- Contains at least one digit (0-9);\n- Contains at least one of these symbols:\n  ```\n  `~!@#$%^&*()-_=+[{}]\\|;:'\",<.>/?€£¥₹\n  ```\n- Does not contain whitespaces.\n\nThese rules are validated by\n[password-validator](https://www.npmjs.com/package/password-validator)\nusing the following schema:\n```js\nconst MIN_PASSWORD_LENGTH = 8;\nconst MAX_PASSWORD_LENGTH = 64;\nconst passwordSchema = new PasswordValidator();\n  passwordSchema\n    .is().min(MIN_PASSWORD_LENGTH)\n    .is().max(MAX_PASSWORD_LENGTH)\n    .has().uppercase()\n    .has().lowercase()\n    .has().digits()\n    .has().symbols()\n    .has().not().spaces();\n```\n"
                      },
                      "username": {
                        "type": "string",
                        "description": "User identifier. Can be either of:\n- User Ethereum address;\n- A verified user email;\n- MythX user ID.\n"
                      },
                      "jwtLifetimes": {
                        "type": "object",
                        "description": "Custom JWT session lifetimes.\n\n**Beware:** Longer JWT lifetimes decrease session security.\n",
                        "properties": {
                          "access": {
                            "type": "string",
                            "format": "zeit/ms",
                            "default": "10 mins",
                            "description": "Access token lifetime."
                          },
                          "refresh": {
                            "type": "string",
                            "format": "zeit/ms",
                            "default": "3 days",
                            "description": "Refresh token lifetime."
                          }
                        }
                      },
                      "permissions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ANALYSIS_ALLOWANCE_MINIMAL",
                            "ANALYSIS_ALLOWANCE_PREMIUM",
                            "ANALYSES_LOOKUP_OWN",
                            "CHANGE_PASSWORD_OWN",
                            "CREATE_USERS_ADMIN",
                            "CREATE_USERS_FREE",
                            "CREATE_USERS_PARTNER",
                            "CREATE_USERS_PREMIUM",
                            "CREATE_USERS_PROFESSIONAL",
                            "CREATE_USERS_TRUSTED",
                            "CREATE_USERS_WITHOUT_ROLES",
                            "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                            "REQUEST_RATE_PER_IP",
                            "USER_LOOKUP",
                            "USERS_ANALYSES_STATS_LOOKUP"
                          ]
                        },
                        "description": "User permissions. For details see\n[User Roles and Permission](#section/User-Roles-and-Permissions).\n"
                      },
                      "ethAddress": {
                        "deprecated": true,
                        "type": "string",
                        "description": "An alias of `username` for backward compatibility."
                      },
                      "userId": {
                        "deprecated": true,
                        "type": "string",
                        "description": "An alias of `username` for backward compatibility."
                      }
                    }
                  },
                  {
                    "type": "object",
                    "nullable": true,
                    "title": "Login with MetaMask",
                    "properties": {
                      "jwtLifetimes": {
                        "type": "object",
                        "description": "Custom JWT session lifetimes.\n\n**Beware:** Longer JWT lifetimes decrease session security.\n",
                        "properties": {
                          "access": {
                            "type": "string",
                            "format": "zeit/ms",
                            "default": "10 mins",
                            "description": "Access token lifetime."
                          },
                          "refresh": {
                            "type": "string",
                            "format": "zeit/ms",
                            "default": "3 days",
                            "description": "Refresh token lifetime."
                          }
                        }
                      },
                      "permissions": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ANALYSIS_ALLOWANCE_MINIMAL",
                            "ANALYSIS_ALLOWANCE_PREMIUM",
                            "ANALYSES_LOOKUP_OWN",
                            "CHANGE_PASSWORD_OWN",
                            "CREATE_USERS_ADMIN",
                            "CREATE_USERS_FREE",
                            "CREATE_USERS_PARTNER",
                            "CREATE_USERS_PREMIUM",
                            "CREATE_USERS_PROFESSIONAL",
                            "CREATE_USERS_TRUSTED",
                            "CREATE_USERS_WITHOUT_ROLES",
                            "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                            "REQUEST_RATE_PER_IP",
                            "USER_LOOKUP",
                            "USERS_ANALYSES_STATS_LOOKUP"
                          ]
                        },
                        "description": "User permissions. For details see\n[User Roles and Permission](#section/User-Roles-and-Permissions).\n"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jwtTokens": {
                          "type": "object",
                          "title": "JWT Tokens",
                          "description": "Holds a pair of JWT authentication tokens.",
                          "properties": {
                            "access": {
                              "type": "string",
                              "description": "Access token. Valid for 10 minutes it permits to authenticate into API.\n"
                            },
                            "refresh": {
                              "type": "string",
                              "description": "Refresh token. Valid for one month it permits to refresh corresponding\naccess token.\n"
                            }
                          }
                        },
                        "permissions": {
                          "type": "object",
                          "description": "Holds user permissions.",
                          "properties": {
                            "owned": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSIS_ALLOWANCE_MINIMAL",
                                  "ANALYSIS_ALLOWANCE_PREMIUM",
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_FREE",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_PREMIUM",
                                  "CREATE_USERS_PROFESSIONAL",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                                  "REQUEST_RATE_PER_IP",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "All permissions given to the user by his roles."
                            },
                            "requested": {
                              "type": "array",
                              "nullable": true,
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSIS_ALLOWANCE_MINIMAL",
                                  "ANALYSIS_ALLOWANCE_PREMIUM",
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_FREE",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_PREMIUM",
                                  "CREATE_USERS_PROFESSIONAL",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                                  "REQUEST_RATE_PER_IP",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "Permissions requested for the current session. `null` value means that all\nowned permissions have been requested, and `[]` means that it has been\nrequested to open the session without any permissions.\n"
                            },
                            "granted": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "ANALYSIS_ALLOWANCE_MINIMAL",
                                  "ANALYSIS_ALLOWANCE_PREMIUM",
                                  "ANALYSES_LOOKUP_OWN",
                                  "CHANGE_PASSWORD_OWN",
                                  "CREATE_USERS_ADMIN",
                                  "CREATE_USERS_FREE",
                                  "CREATE_USERS_PARTNER",
                                  "CREATE_USERS_PREMIUM",
                                  "CREATE_USERS_PROFESSIONAL",
                                  "CREATE_USERS_TRUSTED",
                                  "CREATE_USERS_WITHOUT_ROLES",
                                  "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                                  "REQUEST_RATE_PER_IP",
                                  "USER_LOOKUP",
                                  "USERS_ANALYSES_STATS_LOOKUP"
                                ]
                              },
                              "description": "User permissions granted for this session. There is no\nguarantee that they stay the same during the session, as\nthey are re-evaluated on each API call, as an intersection\nbetween the array of pemissions requested upon the login,\nand the array of permissions granted to the user by his\nroles.\n"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "access": {
                          "type": "string",
                          "deprecated": true,
                          "description": "JWT access token."
                        },
                        "refresh": {
                          "type": "string",
                          "deprecated": true,
                          "description": "JWT refresh token."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "API logout",
        "tags": [
          "Authentication Calls"
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "description": "Closes the current API session, revoking JWT access token that signs this request, and the corresponding refresh token. Optional **global** parameter allows to close all user's sessions.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "global": {
                    "type": "boolean",
                    "default": false,
                    "description": "If **true** all JWT tokens associated with the user will be revoked."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged out successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "loginRefresh",
        "summary": "Refresh Auth Tokens",
        "tags": [
          "Authentication Calls"
        ],
        "description": "Generates a new pair of JWT authentication tokens (access and refresh),\nand revokes the current one. The new tokens will have the same lifetime\nand permissions as the old ones.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jwtTokens": {
                    "type": "object",
                    "title": "JWT Tokens",
                    "description": "Holds a pair of JWT authentication tokens.",
                    "properties": {
                      "access": {
                        "type": "string",
                        "description": "Access token. Valid for 10 minutes it permits to authenticate into API.\n"
                      },
                      "refresh": {
                        "type": "string",
                        "description": "Refresh token. Valid for one month it permits to refresh corresponding\naccess token.\n"
                      }
                    }
                  },
                  "permissions": {
                    "type": "object",
                    "description": "Holds user permissions.",
                    "properties": {
                      "owned": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ANALYSIS_ALLOWANCE_MINIMAL",
                            "ANALYSIS_ALLOWANCE_PREMIUM",
                            "ANALYSES_LOOKUP_OWN",
                            "CHANGE_PASSWORD_OWN",
                            "CREATE_USERS_ADMIN",
                            "CREATE_USERS_FREE",
                            "CREATE_USERS_PARTNER",
                            "CREATE_USERS_PREMIUM",
                            "CREATE_USERS_PROFESSIONAL",
                            "CREATE_USERS_TRUSTED",
                            "CREATE_USERS_WITHOUT_ROLES",
                            "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                            "REQUEST_RATE_PER_IP",
                            "USER_LOOKUP",
                            "USERS_ANALYSES_STATS_LOOKUP"
                          ]
                        },
                        "description": "All permissions given to the user by his roles."
                      },
                      "requested": {
                        "type": "array",
                        "nullable": true,
                        "items": {
                          "type": "string",
                          "enum": [
                            "ANALYSIS_ALLOWANCE_MINIMAL",
                            "ANALYSIS_ALLOWANCE_PREMIUM",
                            "ANALYSES_LOOKUP_OWN",
                            "CHANGE_PASSWORD_OWN",
                            "CREATE_USERS_ADMIN",
                            "CREATE_USERS_FREE",
                            "CREATE_USERS_PARTNER",
                            "CREATE_USERS_PREMIUM",
                            "CREATE_USERS_PROFESSIONAL",
                            "CREATE_USERS_TRUSTED",
                            "CREATE_USERS_WITHOUT_ROLES",
                            "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                            "REQUEST_RATE_PER_IP",
                            "USER_LOOKUP",
                            "USERS_ANALYSES_STATS_LOOKUP"
                          ]
                        },
                        "description": "Permissions requested for the current session. `null` value means that all\nowned permissions have been requested, and `[]` means that it has been\nrequested to open the session without any permissions.\n"
                      },
                      "granted": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "ANALYSIS_ALLOWANCE_MINIMAL",
                            "ANALYSIS_ALLOWANCE_PREMIUM",
                            "ANALYSES_LOOKUP_OWN",
                            "CHANGE_PASSWORD_OWN",
                            "CREATE_USERS_ADMIN",
                            "CREATE_USERS_FREE",
                            "CREATE_USERS_PARTNER",
                            "CREATE_USERS_PREMIUM",
                            "CREATE_USERS_PROFESSIONAL",
                            "CREATE_USERS_TRUSTED",
                            "CREATE_USERS_WITHOUT_ROLES",
                            "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                            "REQUEST_RATE_PER_IP",
                            "USER_LOOKUP",
                            "USERS_ANALYSES_STATS_LOOKUP"
                          ]
                        },
                        "description": "User permissions granted for this session. There is no\nguarantee that they stay the same during the session, as\nthey are re-evaluated on each API call, as an intersection\nbetween the array of pemissions requested upon the login,\nand the array of permissions granted to the user by his\nroles.\n"
                      }
                    }
                  },
                  "accessToken": {
                    "type": "string",
                    "deprecated": true,
                    "description": "JWT access token."
                  },
                  "refreshToken": {
                    "type": "string",
                    "deprecated": true,
                    "description": "JWT refresh token."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "jwtTokens": {
                          "type": "object",
                          "title": "JWT Tokens",
                          "description": "Holds a pair of JWT authentication tokens.",
                          "properties": {
                            "access": {
                              "type": "string",
                              "description": "Access token. Valid for 10 minutes it permits to authenticate into API.\n"
                            },
                            "refresh": {
                              "type": "string",
                              "description": "Refresh token. Valid for one month it permits to refresh corresponding\naccess token.\n"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "access": {
                          "type": "string",
                          "deprecated": true,
                          "description": "JWT access token."
                        },
                        "refresh": {
                          "type": "string",
                          "deprecated": true,
                          "description": "JWT refresh token."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/session/permissions": {
      "get": {
        "operationId": "getSessionPermissions",
        "summary": "Session Permissions",
        "tags": [
          "Authentication Calls"
        ],
        "security": [
          {
            "JWT": []
          }
        ],
        "description": "Retreives user permissions requested, and granted for the current JWT session.\nFor details see\n[User Roles and Permissions](#section/User-Roles-and-Permissions).\n",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Holds user permissions.",
                  "properties": {
                    "owned": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "ANALYSIS_ALLOWANCE_MINIMAL",
                          "ANALYSIS_ALLOWANCE_PREMIUM",
                          "ANALYSES_LOOKUP_OWN",
                          "CHANGE_PASSWORD_OWN",
                          "CREATE_USERS_ADMIN",
                          "CREATE_USERS_FREE",
                          "CREATE_USERS_PARTNER",
                          "CREATE_USERS_PREMIUM",
                          "CREATE_USERS_PROFESSIONAL",
                          "CREATE_USERS_TRUSTED",
                          "CREATE_USERS_WITHOUT_ROLES",
                          "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                          "REQUEST_RATE_PER_IP",
                          "USER_LOOKUP",
                          "USERS_ANALYSES_STATS_LOOKUP"
                        ]
                      },
                      "description": "All permissions given to the user by his roles."
                    },
                    "requested": {
                      "type": "array",
                      "nullable": true,
                      "items": {
                        "type": "string",
                        "enum": [
                          "ANALYSIS_ALLOWANCE_MINIMAL",
                          "ANALYSIS_ALLOWANCE_PREMIUM",
                          "ANALYSES_LOOKUP_OWN",
                          "CHANGE_PASSWORD_OWN",
                          "CREATE_USERS_ADMIN",
                          "CREATE_USERS_FREE",
                          "CREATE_USERS_PARTNER",
                          "CREATE_USERS_PREMIUM",
                          "CREATE_USERS_PROFESSIONAL",
                          "CREATE_USERS_TRUSTED",
                          "CREATE_USERS_WITHOUT_ROLES",
                          "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                          "REQUEST_RATE_PER_IP",
                          "USER_LOOKUP",
                          "USERS_ANALYSES_STATS_LOOKUP"
                        ]
                      },
                      "description": "Permissions requested for the current session. `null` value means that all\nowned permissions have been requested, and `[]` means that it has been\nrequested to open the session without any permissions.\n"
                    },
                    "granted": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "ANALYSIS_ALLOWANCE_MINIMAL",
                          "ANALYSIS_ALLOWANCE_PREMIUM",
                          "ANALYSES_LOOKUP_OWN",
                          "CHANGE_PASSWORD_OWN",
                          "CREATE_USERS_ADMIN",
                          "CREATE_USERS_FREE",
                          "CREATE_USERS_PARTNER",
                          "CREATE_USERS_PREMIUM",
                          "CREATE_USERS_PROFESSIONAL",
                          "CREATE_USERS_TRUSTED",
                          "CREATE_USERS_WITHOUT_ROLES",
                          "PARALLEL_ANALYSIS_REQUESTS_UNLIMITED",
                          "REQUEST_RATE_PER_IP",
                          "USER_LOOKUP",
                          "USERS_ANALYSES_STATS_LOOKUP"
                        ]
                      },
                      "description": "User permissions granted for this session. There is no\nguarantee that they stay the same during the session, as\nthey are re-evaluated on each API call, as an intersection\nbetween the array of pemissions requested upon the login,\nand the array of permissions granted to the user by his\nroles.\n"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/analyses": {
      "get": {
        "tags": [
          "Security Analysis"
        ],
        "operationId": "listAnalyses",
        "summary": "List Past Analyses",
        "description": "Lists analyses visible to the user, at most 20 records a time,\nsorted by submission time from the most recent to the oldest\nones. Use **offset** query parameter for results pagination. Use\n**dateFrom** and **dateTo** query parameters to filter by analysis\nsubmission timestamps.\n\nDates are specified using ann [ISO 8601 Date](https://en.wikipedia.org/wiki/ISO_8601) string\n\nExample Date Strings\n--------------------\n* `2018-11-20`,\n* `2018-11-20T23:13:12`,\n* `2018-11-20T23:13:12+00:00`\n* `2018-11-20T23:13:12.177Z`\n",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset. Number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "Submission time filter. Restricts results to analyses submitted after this time. Unset by default.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "Submission time filter. Restricts results to analyses submitted before this time. Unset by default.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "analyses": {
                      "type": "array",
                      "description": "Up to 20 matching analysis after the **offset**.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "apiVersion": {
                            "type": "string",
                            "description": "MythX API version at the moment of analysis execution;\nor at the moment of submission, if this analysis is still queued.\n"
                          },
                          "clientToolName": {
                            "type": "string",
                            "description": "The identifier of the mythx client the analyses was triggered with.\n"
                          },
                          "error": {
                            "type": "string",
                            "description": "Holds error message if analysis failed; absent otherwise.\n"
                          },
                          "harveyVersion": {
                            "type": "string",
                            "description": "Harvey core version at the moment of analysis execution;\nor at the moment of submission, if this analysis is still queued.\n"
                          },
                          "maruVersion": {
                            "type": "string",
                            "description": "Maru core version at the moment of analysis execution;\nor at the moment of submission, if this analysis is still queued.\n"
                          },
                          "mythrilVersion": {
                            "type": "string",
                            "description": "Mythril core version at the moment of analysis execution;\nor at the moment of submission, if this analysis is still queued.\n"
                          },
                          "queueTime": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The time [ms] from analysis submission to its execution start, or to\nthe present moment, if this analysis is still in the queue.\n"
                          },
                          "runTime": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The time [ms] from the start of analysis execution till its end.\nEquals zero, if this analysis is still in the queue.\n"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "Queued",
                              "In progress",
                              "Finished",
                              "Error"
                            ],
                            "description": "Current status of the analysis."
                          },
                          "submittedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Timestamp of the analysis submission to the API."
                          },
                          "submittedBy": {
                            "type": "string",
                            "description": "ID of the submitter."
                          },
                          "uuid": {
                            "description": "Unique identifier of the analysis.",
                            "type": "string",
                            "format": "uuid"
                          },
                          "info": {
                            "type": "string",
                            "nullable": true,
                            "description": "An optional human-readable message from API."
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of matching analyses."
                    }
                  }
                },
                "example": {
                  "total": 2,
                  "analyses": [
                    {
                      "apiVersion": "v1.3.0",
                      "harveyVersion": "v0.1.0",
                      "maruVersion": "v0.2.0",
                      "mythrilVersion": "0.19.11",
                      "queueTime": 1,
                      "runTime": 300,
                      "status": "Running",
                      "submittedAt": "2019-01-10T01:29:38.410Z",
                      "submittedBy": "000008544b0aa00010a91111",
                      "uuid": "0680a1e2-b908-4c9a-a15b-636ef9b61486"
                    },
                    {
                      "apiVersion": "v1.3.0",
                      "harveyVersion": "v0.1.0",
                      "maruVersion": "v0.2.0",
                      "mythrilVersion": "0.19.11",
                      "queueTime": 0,
                      "runTime": 0,
                      "status": "Finished",
                      "submittedAt": "2019-01-10T01:28:56.551Z",
                      "submittedBy": "000008544b0aa00010a91111",
                      "uuid": "78e3e82b-869d-4df1-8acf-cb1161281b71"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Likely invalid schema in analysis-request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "example": {
                  "status": 400,
                  "error": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "submitAnalysis",
        "summary": "Submit Smart Contract for analysis",
        "tags": [
          "Security Analysis"
        ],
        "security": [
          {
            "JWT": []
          },
          {
            "MetaMask": []
          }
        ],
        "description": "Submits Solidity contract(s) for vulnerability analysis and returns\ncreated analysis record. It is possible to conduct a partial analysis \non a contract by only submitting its creation bytecode or its source code\nin their respective schema fields. **Fill out both fields to conduct a \ncomplete analysis**.\nThe _uuid_ field of the response should be used in subsequent calls to:\n\n* [GET /analyses/{uuid}](#operation/getAnalysis) and\n* [GET /analyses/{uuid}/issues](#operation/getAnalysisIssues) to\n\ncheck analysis status, metadata, and the list of detected issues.\n\nIn addition to the JSON fields listed below, we allow additional fields. For example, truffle artfics will have an additional `abi` attribute.\n\nThe request format is equivalent to the output of:\n```console\n$ solc --pretty-json --combined-json ast,bin,bin-runtime,srcmap,srcmap-runtime\n```\nwith the exception of the following field name changes which follow Truffe conventions:\n  * `bin` &rarr; `bytecode`\n  * `bin-runtime` &rarr; `deployedBytecode`\n  * `srcmap` &rarr; `sourceMap`\n  * `srcmap-runtime` &rarr; `deployedSourceMap`\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "examples": {
                "complete": {
                  "summary": "Complete Analysis",
                  "value": {
                    "clientToolName": "Sample MythX Client",
                    "noCacheLookup": true,
                    "data": {
                      "bytecode": "0x6080604052602060405190810160405280600060010260001916600019168152506000906001610030929190610043565b5034801561003d57600080fd5b506100bb565b828054828255906000526020600020908101928215610085579160200282015b82811115610084578251829060001916905591602001919060010190610063565b5b5090506100929190610096565b5090565b6100b891905b808211156100b457600081600090555060010161009c565b5090565b90565b60d8806100c96000396000f300608060405260043610603f576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff168063017a9105146044575b600080fd5b348015604f57600080fd5b50606c60048036038101908080359060200190929190505050608a565b60405180826000191660001916815260200191505060405180910390f35b600081815481101515609857fe5b9060005260206000200160009150905054815600a165627a7a72305820d1c4ab8874b5f3cc139613c225a5908ed916e813f5ccdf9a9de97ce28420ca090029",
                      "mainSource": "PublicStorageArray.sol",
                      "sources": {
                        "PublicStorageArray.sol": {
                          "source": "pragma solidity ^0.5.0;\\n\\ncontract PublicStorageArray {\\n    bytes32[] public states = [bytes32(0)];\\n}",
                          "ast": "{\\\"contracts\\\":{\\\"/tmp/test.sol:PublicStorageArray\\\":{}},\\\"sourceList\\\":[\\\"/tmp/test.sol\\\"],\\\"sources\\\":{\\\"/tmp/test.sol\\\":{\\\"AST\\\":{\\\"attributes\\\":{\\\"absolutePath\\\":\\\"/tmp/test.sol\\\",\\\"exportedSymbols\\\":{\\\"PublicStorageArray\\\":[9]}},\\\"children\\\":[{\\\"attributes\\\":{\\\"literals\\\":[\\\"solidity\\\",\\\"^\\\",\\\"0.5\\\",\\\".0\\\"]},\\\"id\\\":1,\\\"name\\\":\\\"PragmaDirective\\\",\\\"src\\\":\\\"0:23:0\\\"},{\\\"attributes\\\":{\\\"baseContracts\\\":[null],\\\"contractDependencies\\\":[null],\\\"contractKind\\\":\\\"contract\\\",\\\"documentation\\\":null,\\\"fullyImplemented\\\":true,\\\"linearizedBaseContracts\\\":[9],\\\"name\\\":\\\"PublicStorageArray\\\",\\\"scope\\\":10},\\\"children\\\":[{\\\"attributes\\\":{\\\"constant\\\":false,\\\"name\\\":\\\"states\\\",\\\"scope\\\":9,\\\"stateVariable\\\":true,\\\"storageLocation\\\":\\\"default\\\",\\\"type\\\":\\\"bytes32[]\\\",\\\"visibility\\\":\\\"public\\\"},\\\"children\\\":[{\\\"attributes\\\":{\\\"length\\\":null,\\\"type\\\":\\\"bytes32[]\\\"},\\\"children\\\":[{\\\"attributes\\\":{\\\"name\\\":\\\"bytes32\\\",\\\"type\\\":\\\"bytes32\\\"},\\\"id\\\":2,\\\"name\\\":\\\"ElementaryTypeName\\\",\\\"src\\\":\\\"59:7:0\\\"}],\\\"id\\\":3,\\\"name\\\":\\\"ArrayTypeName\\\",\\\"src\\\":\\\"59:9:0\\\"},{\\\"attributes\\\":{\\\"argumentTypes\\\":null,\\\"isConstant\\\":false,\\\"isInlineArray\\\":true,\\\"isLValue\\\":false,\\\"isPure\\\":true,\\\"lValueRequested\\\":false,\\\"type\\\":\\\"bytes32[1] memory\\\"},\\\"children\\\":[{\\\"attributes\\\":{\\\"argumentTypes\\\":null,\\\"isConstant\\\":false,\\\"isLValue\\\":false,\\\"isPure\\\":true,\\\"isStructConstructorCall\\\":false,\\\"lValueRequested\\\":false,\\\"names\\\":[null],\\\"type\\\":\\\"bytes32\\\",\\\"type_conversion\\\":true},\\\"children\\\":[{\\\"attributes\\\":{\\\"argumentTypes\\\":[{\\\"typeIdentifier\\\":\\\"t_rational_0_by_1\\\",\\\"typeString\\\":\\\"int_const 0\\\"}],\\\"isConstant\\\":false,\\\"isLValue\\\":false,\\\"isPure\\\":true,\\\"lValueRequested\\\":false,\\\"type\\\":\\\"type(bytes32)\\\",\\\"value\\\":\\\"bytes32\\\"},\\\"id\\\":4,\\\"name\\\":\\\"ElementaryTypeNameExpression\\\",\\\"src\\\":\\\"86:7:0\\\"},{\\\"attributes\\\":{\\\"argumentTypes\\\":null,\\\"hexvalue\\\":\\\"30\\\",\\\"isConstant\\\":false,\\\"isLValue\\\":false,\\\"isPure\\\":true,\\\"lValueRequested\\\":false,\\\"subdenomination\\\":null,\\\"token\\\":\\\"number\\\",\\\"type\\\":\\\"int_const 0\\\",\\\"value\\\":\\\"0\\\"},\\\"id\\\":5,\\\"name\\\":\\\"Literal\\\",\\\"src\\\":\\\"94:1:0\\\"}],\\\"id\\\":6,\\\"name\\\":\\\"FunctionCall\\\",\\\"src\\\":\\\"86:10:0\\\"}],\\\"id\\\":7,\\\"name\\\":\\\"TupleExpression\\\",\\\"src\\\":\\\"85:12:0\\\"}],\\\"id\\\":8,\\\"name\\\":\\\"VariableDeclaration\\\",\\\"src\\\":\\\"59:38:0\\\"}],\\\"id\\\":9,\\\"name\\\":\\\"ContractDefinition\\\",\\\"src\\\":\\\"25:75:0\\\"}],\\\"id\\\":10,\\\"name\\\":\\\"SourceUnit\\\",\\\"src\\\":\\\"0:102:0\\\"}}},\\\"version\\\":\\\"0.5.0+commit.1d4f565a.Linux.g++\\\"}"
                        }
                      }
                    }
                  }
                },
                "bytecode-only": {
                  "summary": "Bytecode Only",
                  "value": {
                    "data": {
                      "bytecode": "0x6080604052602060405190810160405280600060010260001916600019168152506000906001610030929190610043565b5034801561003d57600080fd5b506100bb565b828054828255906000526020600020908101928215610085579160200282015b82811115610084578251829060001916905591602001919060010190610063565b5b5090506100929190610096565b5090565b6100b891905b808211156100b457600081600090555060010161009c565b5090565b90565b60d8806100c96000396000f300608060405260043610603f576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff168063017a9105146044575b600080fd5b348015604f57600080fd5b50606c60048036038101908080359060200190929190505050608a565b60405180826000191660001916815260200191505060405180910390f35b600081815481101515609857fe5b9060005260206000200160009150905054815600a165627a7a72305820d1c4ab8874b5f3cc139613c225a5908ed916e813f5ccdf9a9de97ce28420ca090029"
                    }
                  }
                },
                "sources-only": {
                  "summary": "Sources Only",
                  "value": {
                    "data": {
                      "mainSource": "PublicStorageArray.sol",
                      "sources": {
                        "PublicStorageArray.sol": {
                          "source": "pragma solidity ^0.5.0;\\n\\ncontract PublicStorageArray {\\n    bytes32[] public states = [bytes32(0)];\\n}",
                          "ast": "{\\\"contracts\\\":{\\\"/tmp/test.sol:PublicStorageArray\\\":{}},\\\"sourceList\\\":[\\\"/tmp/test.sol\\\"],\\\"sources\\\":{\\\"/tmp/test.sol\\\":{\\\"AST\\\":{\\\"attributes\\\":{\\\"absolutePath\\\":\\\"/tmp/test.sol\\\",\\\"exportedSymbols\\\":{\\\"PublicStorageArray\\\":[9]}},\\\"children\\\":[{\\\"attributes\\\":{\\\"literals\\\":[\\\"solidity\\\",\\\"^\\\",\\\"0.5\\\",\\\".0\\\"]},\\\"id\\\":1,\\\"name\\\":\\\"PragmaDirective\\\",\\\"src\\\":\\\"0:23:0\\\"},{\\\"attributes\\\":{\\\"baseContracts\\\":[null],\\\"contractDependencies\\\":[null],\\\"contractKind\\\":\\\"contract\\\",\\\"documentation\\\":null,\\\"fullyImplemented\\\":true,\\\"linearizedBaseContracts\\\":[9],\\\"name\\\":\\\"PublicStorageArray\\\",\\\"scope\\\":10},\\\"children\\\":[{\\\"attributes\\\":{\\\"constant\\\":false,\\\"name\\\":\\\"states\\\",\\\"scope\\\":9,\\\"stateVariable\\\":true,\\\"storageLocation\\\":\\\"default\\\",\\\"type\\\":\\\"bytes32[]\\\",\\\"visibility\\\":\\\"public\\\"},\\\"children\\\":[{\\\"attributes\\\":{\\\"length\\\":null,\\\"type\\\":\\\"bytes32[]\\\"},\\\"children\\\":[{\\\"attributes\\\":{\\\"name\\\":\\\"bytes32\\\",\\\"type\\\":\\\"bytes32\\\"},\\\"id\\\":2,\\\"name\\\":\\\"ElementaryTypeName\\\",\\\"src\\\":\\\"59:7:0\\\"}],\\\"id\\\":3,\\\"name\\\":\\\"ArrayTypeName\\\",\\\"src\\\":\\\"59:9:0\\\"},{\\\"attributes\\\":{\\\"argumentTypes\\\":null,\\\"isConstant\\\":false,\\\"isInlineArray\\\":true,\\\"isLValue\\\":false,\\\"isPure\\\":true,\\\"lValueRequested\\\":false,\\\"type\\\":\\\"bytes32[1] memory\\\"},\\\"children\\\":[{\\\"attributes\\\":{\\\"argumentTypes\\\":null,\\\"isConstant\\\":false,\\\"isLValue\\\":false,\\\"isPure\\\":true,\\\"isStructConstructorCall\\\":false,\\\"lValueRequested\\\":false,\\\"names\\\":[null],\\\"type\\\":\\\"bytes32\\\",\\\"type_conversion\\\":true},\\\"children\\\":[{\\\"attributes\\\":{\\\"argumentTypes\\\":[{\\\"typeIdentifier\\\":\\\"t_rational_0_by_1\\\",\\\"typeString\\\":\\\"int_const 0\\\"}],\\\"isConstant\\\":false,\\\"isLValue\\\":false,\\\"isPure\\\":true,\\\"lValueRequested\\\":false,\\\"type\\\":\\\"type(bytes32)\\\",\\\"value\\\":\\\"bytes32\\\"},\\\"id\\\":4,\\\"name\\\":\\\"ElementaryTypeNameExpression\\\",\\\"src\\\":\\\"86:7:0\\\"},{\\\"attributes\\\":{\\\"argumentTypes\\\":null,\\\"hexvalue\\\":\\\"30\\\",\\\"isConstant\\\":false,\\\"isLValue\\\":false,\\\"isPure\\\":true,\\\"lValueRequested\\\":false,\\\"subdenomination\\\":null,\\\"token\\\":\\\"number\\\",\\\"type\\\":\\\"int_const 0\\\",\\\"value\\\":\\\"0\\\"},\\\"id\\\":5,\\\"name\\\":\\\"Literal\\\",\\\"src\\\":\\\"94:1:0\\\"}],\\\"id\\\":6,\\\"name\\\":\\\"FunctionCall\\\",\\\"src\\\":\\\"86:10:0\\\"}],\\\"id\\\":7,\\\"name\\\":\\\"TupleExpression\\\",\\\"src\\\":\\\"85:12:0\\\"}],\\\"id\\\":8,\\\"name\\\":\\\"VariableDeclaration\\\",\\\"src\\\":\\\"59:38:0\\\"}],\\\"id\\\":9,\\\"name\\\":\\\"ContractDefinition\\\",\\\"src\\\":\\\"25:75:0\\\"}],\\\"id\\\":10,\\\"name\\\":\\\"SourceUnit\\\",\\\"src\\\":\\\"0:102:0\\\"}}},\\\"version\\\":\\\"0.5.0+commit.1d4f565a.Linux.g++\\\"}"
                        }
                      }
                    }
                  }
                }
              },
              "schema": {
                "type": "object",
                "title": "Complete analysis",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "description": "Expand `data` to view full schema.",
                    "oneOf": [
                      {
                        "type": "object",
                        "title": "Compete Analysis",
                        "description": "Required. Expand `data` to view full schema.",
                        "required": [
                          "bytecode",
                          "mainSource",
                          "sources"
                        ],
                        "properties": {
                          "bytecode": {
                            "type": "string",
                            "description": "The bytecode and additional code to get the code placed on the blockchain; in other words, the code of the contract constructor.\nNote: in solc's JSON this is called `bin`. See also [solc bin vs. bin-runtime](https://ethereum.stackexchange.com/questions/13086/solc-bin-vs-bin-runtime).\n"
                          },
                          "mainSource": {
                            "type": "string",
                            "description": "MainSource is the path to the Solidity file that is provided to the compiler as input."
                          },
                          "sources": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Sources map containing objects that each map to *at least one of* `source` or `ast` field to the respective contents.\n"
                          },
                          "contractName": {
                            "type": "string",
                            "description": "The Smart Contract name. Note that in Solidity this is name is case sensitive."
                          },
                          "deployedBytecode": {
                            "type": "string",
                            "description": "The bytecode that is placed on the blockchain. Note: in solc's JSON this is called `bin-runtime`.\nThis is distinct from bytecode described above.\n"
                          },
                          "sourceMap": {
                            "type": "string",
                            "description": "Source map for the `bytecode` field. See Solidity's [Source\nMappings](https://solidity.readthedocs.io/en/v0.5.2/miscellaneous.html#source-mappings)\nfor how the Solidity compiler, `solc` defines this.\n"
                          },
                          "deployedSourceMap": {
                            "type": "string",
                            "description": "Source map for the `deployedBytecode` field. See Solidity's [Source\nMappings](https://solidity.readthedocs.io/en/v0.5.2/miscellaneous.html#source-mappings)\nfor how the Solidity compiler, `solc` defines this.\n"
                          },
                          "sourceList": {
                            "type": "array",
                            "minItems": 1,
                            "uniqueItems": true,
                            "description": "The list of files that are being mapped to in the `sources` field.\n",
                            "items": {
                              "type": "string"
                            }
                          },
                          "version": {
                            "type": "string",
                            "description": "Version information that may be produced by the compiler or system that\nproduced the Smart Contract code. For example, in a Smart Contract compiled\nvia `solc`, version 0.5.2, it might be `0.5.2+commit.1df8f40c.Linux.g++`.\n",
                            "items": {
                              "type": "string"
                            }
                          },
                          "analysisMode": {
                            "type": "string",
                            "enum": [
                              "full",
                              "quick"
                            ],
                            "description": "`quick` will perform quick time-limited analysis. `full` performs a much more complete and longer-running analysis.\n\n`full` mode requires `FULL_ANALYSIS` permission which is granted to\npaid users.\n"
                          }
                        }
                      },
                      {
                        "description": "Required. Expand `data` to view full schema.",
                        "title": "Bytecode Only",
                        "type": "object",
                        "required": [
                          "bytecode"
                        ],
                        "properties": {
                          "bytecode": {
                            "type": "string",
                            "description": "The bytecode and additional code to get the code placed on the blockchain; in other words, the code of the contract constructor.\nNote: in solc's JSON this is called `bin`. See also [solc bin vs. bin-runtime](https://ethereum.stackexchange.com/questions/13086/solc-bin-vs-bin-runtime).\n"
                          },
                          "contractName": {
                            "type": "string",
                            "description": "The Smart Contract name. Note that in Solidity this is name is case sensitive."
                          },
                          "deployedBytecode": {
                            "type": "string",
                            "description": "The bytecode that is placed on the blockchain. Note: in solc's JSON this is called `bin-runtime`.\nThis is distinct from bytecode described above.\n"
                          },
                          "sourceMap": {
                            "type": "string",
                            "description": "Source map for the `bytecode` field. See Solidity's [Source\nMappings](https://solidity.readthedocs.io/en/v0.5.2/miscellaneous.html#source-mappings)\nfor how the Solidity compiler, `solc` defines this.\n"
                          },
                          "deployedSourceMap": {
                            "type": "string",
                            "description": "Source map for the `deployedBytecode` field. See Solidity's [Source\nMappings](https://solidity.readthedocs.io/en/v0.5.2/miscellaneous.html#source-mappings)\nfor how the Solidity compiler, `solc` defines this.\n"
                          },
                          "sources": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Sources map containing objects that each map to *at least one of* `source` or `ast` field to the respective contents.\n"
                          },
                          "mainSource": {
                            "type": "string",
                            "description": "MainSource is the path to the Solidity file that is provided to the compiler as input."
                          },
                          "sourceList": {
                            "type": "array",
                            "minItems": 1,
                            "uniqueItems": true,
                            "description": "The list of files that are being mapped to in the `sources` field.\n",
                            "items": {
                              "type": "string"
                            }
                          },
                          "version": {
                            "type": "string",
                            "description": "Version information that may be produced by the compiler or system that\nproduced the Smart Contract code. For example, in a Smart Contract compiled\nvia `solc`, version 0.5.2, it might be `0.5.2+commit.1df8f40c.Linux.g++`.\n",
                            "items": {
                              "type": "string"
                            }
                          },
                          "analysisMode": {
                            "type": "string",
                            "enum": [
                              "full",
                              "quick"
                            ],
                            "description": "`quick` will perform quick time-limited analysis. `full` performs a much more complete and longer-running analysis.\n\n`full` mode requires `FULL_ANALYSIS` permission which is granted to\npaid users.\n"
                          }
                        }
                      },
                      {
                        "description": "Required. Expand `data` to view full schema.",
                        "type": "object",
                        "title": "Sourcecode Only",
                        "required": [
                          "mainSource",
                          "sources"
                        ],
                        "properties": {
                          "mainSource": {
                            "type": "string",
                            "description": "MainSource is the path to the Solidity file that is provided to the compiler as input."
                          },
                          "sources": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Sources map containing objects that each map to *at least one of* `source` or `ast` field to the respective contents.\n"
                          },
                          "contractName": {
                            "type": "string",
                            "description": "The Smart Contract name. Note that in Solidity this is name is case sensitive."
                          },
                          "bytecode": {
                            "type": "string",
                            "description": "The bytecode and additional code to get the code placed on the blockchain; in other words, the code of the contract constructor.\nNote: in solc's JSON this is called `bin`. See also [solc bin vs. bin-runtime](https://ethereum.stackexchange.com/questions/13086/solc-bin-vs-bin-runtime).\n"
                          },
                          "deployedBytecode": {
                            "type": "string",
                            "description": "The bytecode that is placed on the blockchain. Note: in solc's JSON this is called `bin-runtime`.\nThis is distinct from bytecode described above.\n"
                          },
                          "sourceMap": {
                            "type": "string",
                            "description": "Source map for the `bytecode` field. See Solidity's [Source\nMappings](https://solidity.readthedocs.io/en/v0.5.2/miscellaneous.html#source-mappings)\nfor how the Solidity compiler, `solc` defines this.\n"
                          },
                          "deployedSourceMap": {
                            "type": "string",
                            "description": "Source map for the `deployedBytecode` field. See Solidity's [Source\nMappings](https://solidity.readthedocs.io/en/v0.5.2/miscellaneous.html#source-mappings)\nfor how the Solidity compiler, `solc` defines this.\n"
                          },
                          "sourceList": {
                            "type": "array",
                            "minItems": 1,
                            "uniqueItems": true,
                            "description": "The list of files that are being mapped to in the `sources` field.\n",
                            "items": {
                              "type": "string"
                            }
                          },
                          "version": {
                            "type": "string",
                            "description": "Version information that may be produced by the compiler or system that\nproduced the Smart Contract code. For example, in a Smart Contract compiled\nvia `solc`, version 0.5.2, it might be `0.5.2+commit.1df8f40c.Linux.g++`.\n",
                            "items": {
                              "type": "string"
                            }
                          },
                          "analysisMode": {
                            "type": "string",
                            "enum": [
                              "full",
                              "quick"
                            ],
                            "description": "`quick` will perform quick time-limited analysis. `full` performs a much more complete and longer-running analysis.\n\n`full` mode requires `FULL_ANALYSIS` permission which is granted to\npaid users.\n"
                          }
                        }
                      }
                    ]
                  },
                  "clientToolName": {
                    "type": "string",
                    "description": "Optional. Name of the client tool sending the request."
                  },
                  "noCacheLookup": {
                    "type": "boolean",
                    "description": "Optional. When `true` API won't look into the cache of past analyses, and\nalways will run a new analysis for this request. The using of cache has no\nother side effects beside saving the runtime, thus this option is intended\nonly for benchmarking, API health control, and debuging purposes.\nItrequries `NO_CACHE_LOOKUP` permission to use, which is granted only to\nMythX team members.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis request received. Check the `status` field for request status.\nIt can be one of:\n* `Queued`: The analysis request is in a backlog queue of analysis requests to be processed.\n* `Finished`: Analysis has finished. This can happen if the analysis is exactly the same as a prior\nrun, so results come the cached reports. Using the `uuid` field in the response, issue a request to the get the issue results using\n   another call to get [Analysis results](#operation/getAnalysis).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiVersion": {
                      "type": "string",
                      "description": "MythX API version at the moment of analysis execution;\nor at the moment of submission, if this analysis is still queued.\n"
                    },
                    "clientToolName": {
                      "type": "string",
                      "description": "The identifier of the mythx client the analyses was triggered with.\n"
                    },
                    "error": {
                      "type": "string",
                      "description": "Holds error message if analysis failed; absent otherwise.\n"
                    },
                    "harveyVersion": {
                      "type": "string",
                      "description": "Harvey core version at the moment of analysis execution;\nor at the moment of submission, if this analysis is still queued.\n"
                    },
                    "maruVersion": {
                      "type": "string",
                      "description": "Maru core version at the moment of analysis execution;\nor at the moment of submission, if this analysis is still queued.\n"
                    },
                    "mythrilVersion": {
                      "type": "string",
                      "description": "Mythril core version at the moment of analysis execution;\nor at the moment of submission, if this analysis is still queued.\n"
                    },
                    "queueTime": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The time [ms] from analysis submission to its execution start, or to\nthe present moment, if this analysis is still in the queue.\n"
                    },
                    "runTime": {
                      "type": "integer",
                      "format": "int64",
                      "description": "The time [ms] from the start of analysis execution till its end.\nEquals zero, if this analysis is still in the queue.\n"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "Queued",
                        "In progress",
                        "Finished",
                        "Error"
                      ],
                      "description": "Current status of the analysis."
                    },
                    "submittedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of the analysis submission to the API."
                    },
                    "submittedBy": {
                      "type": "string",
                      "description": "ID of the submitter."
                    },
                    "uuid": {
                      "description": "Unique identifier of the analysis.",
                      "type": "string",
                      "format": "uuid"
                    },
                    "info": {
                      "type": "string",
                      "nullable": true,
                      "description": "An optional human-readable message from API."
                    }
                  }
                },
                "example": {
                  "apiVersion": "v1.3.0",
                  "harveyVersion": "v0.1.0",
                  "maruVersion": "v0.2.0",
                  "mythrilVersion": "0.19.11",
                  "queueTime": 0,
                  "status": "Queued",
                  "submittedAt": "2019-01-10T01:29:38.410Z",
                  "submittedBy": "000008544b0aa00010a91111",
                  "uuid": "0680a1e2-b908-4c9a-a15b-636ef9b61486"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request &mdash; Probably an ill-formed request. See `error`\nmessage for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 400,
                  "error": "Bad request; please check your body schema:\n * field \"field1\" is not allowed to be empty,\n * field \"field2\" must be a positive integer,\n ..."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized &mdash; Probably an empty or invalid authorization header sent\nwith the request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 401,
                  "error": "Not authenticated; please log in and try again"
                }
              }
            }
          },
          "413": {
            "description": "JSON data sent too large &mdash; Your request's body was larger than the\nmaximum 15MB limit allowed by the server. Try to split your request into\nserveral ones.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 413,
                  "error": "Payload Too Large - Your request's body was larger than the maximum 15MB limit allowed by the server. Try to split your request into serveral ones."
                }
              }
            }
          },
          "429": {
            "description": "Too many requests &mdash; You have either reached the API usage limit allowed to\nyour user and subscription types or the maximum request allowed per client and\nsecond.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 429,
                  "error": "Exceeded plan limit: 10,000 requests in a day; limit will reset in a day;\n Exceeded usage limit; please try again in 24H or upgrade your plan"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error &mdash; An unexpected error happened at the server\nside when trying to fulfil your request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code."
                    },
                    "error": {
                      "type": "string",
                      "description": "Human-readable error message."
                    }
                  }
                },
                "example": {
                  "status": 500,
                  "error": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/analyses/{uuid}": {
      "get": {
        "tags": [
          "Security Analysis"
        ],
        "operationId": "getAnalysis",
        "summary": "Analysis Status",
        "description": "Gets status and metadata of for a prior\n[submit Smart Contract analysis request](#operation/submitAnalysis).\nIn the submission, a _uuid_ was returned, which should be used in the url for\nthis request.\nWhen analysis **status** is `Finished`,\n[GET /analyses/{uuid}/issues](#operation/getAnalysisIssues) may be\nused to list detected vulnerabilities.\n",
        "security": [
          {
            "JWT": []
          },
          {
            "MetaMask": []
          }
        ],
        "parameters": [
          {
            "name": "uuid",
[...]
